* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

body {
    background-color: #fcabd1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.phone {
    /* del app */
    height: 95vh;
    width: 320px;
    border-radius: 5px;
    border: 3px solid #f1b2d7;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    justify-content: space-between;
}

/* Media query para tabletas (768px) */
@media (min-width: 768px) {
    .phone {
        width: 500px;
        /* Ajusta el ancho para tabletas */
    }
}

/* Media query para desktops (1024px) */
@media (min-width: 1024px) {
    .phone {
        width: 700px;
        /* Ajusta el ancho para desktops */
    }
}

/* Media query para pantallas muy grandes (2000px) */
@media (min-width: 2000px) {
    .phone {
        width: 1000px;
        /* Ajusta el ancho para pantallas muy grandes */
    }
}