.container-chats{
    padding: 10px;
    max-width: 300px;
    background-color: rgba(245, 245, 245, 0.253);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.container{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.info{
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 10px;
} 

.text{
    display: flex;
    align-items: center;
}