*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:"Inter", sans-serif;
}

.container-list{
    height: 80%;
    margin: 5px; 
    padding: 0px 10px 0px;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    overflow-x: hidden;
    gap: 15px;
}

.container-list::-webkit-scrollbar {
    width: 8px; 
}

.container-list::-webkit-scrollbar-track {
    background: #f8d1eb; 
    border-radius: 4px; 
}

.container-list::-webkit-scrollbar-thumb {
    background-color:#f8c4e2; 
    border-radius: 4px; 
}

.container-list::-webkit-scrollbar-thumb:hover {
    background: #f7a7d5;
}

