@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

*{ 
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}


.form-mensaje{
    display: flex;
    height: 10%;
    width: 100%;;
    background-color: #f5b6d9;
    padding: 0px 30px;
    gap: 10px;
}

.formulario{
    width: 100% ;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.input-texto{
    border: 2px;
    width: 90% ;
    height: 25px;
    text-indent: 10px;
    border-radius: 12px;
    background-color: #fbefef;
    box-shadow: inset 11px 11px 22px #ddd2d2, inset -11px -11px 22px #ffffff;
}

.boton{
    background-color:transparent;
    width:20%;
    height: 100%;
    border:none;
    padding: 18px;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    border-radius: 1%;
}