*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

.contacts-container{
    height: 90%;
    margin: 5px; 
    padding: 0px 10px 0px;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    gap: 15px;
    background-color: #f5deeb;
}

.contacts-container::-webkit-scrollbar {
    width: 8px; 
}

.contacts-container::-webkit-scrollbar-track {
    background: #f8d1eb; 
    border-radius: 4px; 
}

.contacts-container::-webkit-scrollbar-thumb {
    background-color:#f8c4e2; 
    border-radius: 4px; 
}

.contacts-container::-webkit-scrollbar-thumb:hover {
    background: #f7a7d5;
}

.contact-container{
    background-color: #f5bddd;
    border-radius: 10px;
    width: 95%;
}

.profile-pic-contacts{
    height: 40px;
    width: 40px;
    border-radius: 100%;
}