@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");


*{ 
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

.header{
    background-color:#f0a0cf65;
    height: 15%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 15px ;
    gap:10px;
    border-radius: 40px 35px 0 0;
}

.contenedor-contacto{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
    padding: 10px;
}

.foto{
    height: 50px;
    width: 50px;
    border-radius: 100%;
}

.btns-header{
    display: flex;
    justify-content:space-between;
    align-items: center;
    width: 20%;
    height: 100%;
    gap:5px;
    overflow: hidden;
}

.btns-header button{
    background-color: transparent;
    outline-color: none;
    border:0; 
    border-radius: 10px;
    font-size: 20px;
    width: 100%;
    height:100%;
} 